<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LgLcd13.Instruments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LgLcd13.Instruments.Properties.Settings>
            <setting name="Panel1" serializeAs="String">
                <value>BRNG: [ {0} ]  ELEV:  [ {1} ] AGL;CLMB: [ {0} ]  TORQ: [ {1} ];;SPEED A: [ {0} ] G: [ {1} ] MPH</value>
            </setting>
            <setting name="Panel2" serializeAs="String">
                <value>Something goes here</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TestCount" serializeAs="String">
                <value>270</value>
            </setting>
        </LgLcd13.Instruments.Properties.Settings>
    </applicationSettings>
</configuration>